h1,
h2,
h3 {
    padding: 0;
    margin: 0;
}

#vanillaList,
#chocolateList,
#strawberryList,
#bananaList,
#toppingList {
    height: auto;
    overflow: visible;
    width: 160px;
    list-style-type: none;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    width: 160px;
}

#toppingList {
    margin-left: -3px;
    margin-bottom: 34px;
}

h3 {
    margin: 20px 0px 10px 0px;
    padding: 0;
    font-family: serif;
    color: brown;
    font-weight: normal;
    font-size: 1.5em;
    font-style: italic;
    letter-spacing: 1px;
    line-height: 1.5em;
}


/*
#vanillaNmbr {
    border: 2px solid Tan;
}

#chocolateNmbr {
    border: 2px solid #723910;
}

#strawberryNmbr {
    border: 2px solid #da2c43;
}

#bananaNmbr {
    border: 2px solid GoldenRod;
}
*/

option {
    width: 48px;
}

#bananaNmbr,
#strawberryNmbr,
#chocolateNmbr,
#vanillaNmbr {
    font-size: 0.75em;
}

#pageWrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
    padding: 0% 0% 0% 0%;
    height: 70vh;
    text-align: right;
}

#leftSide {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 1;
    grid-row: 1/1;
    text-align: left;
    max-width: 160px;
}

#interface {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
    -ms-grid-row: 1;
    grid-row: 1/1;
    text-align: left;
    width: 50vw;
    -ms-flex-item-align: end;
    -ms-grid-row-align: end;
    align-self: end;
}

#visualisation {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 1;
    grid-row: 1/1;
    padding-top: 10%;
    max-width: 160px;
    -ms-flex-item-align: end;
    -ms-grid-row-align: end;
    align-self: end;
}

form {
    display: block;
    position: relative;
    overflow: hidden;
    background-color: rgba(98, 74, 46, 0.2);
    padding: 10%;
}

h1 {
    font-family: "Mrs Sheppards", cursive;
    font-size: 15em;
    line-height: 0.7em;
    color: Tan;
    letter-spacing: 2px;
    margin: 0px 0px 0px 0px;
    padding: 0;
    text-shadow: -1px -1px #fff;
    font-weight: normal;
    margin-top: 2vh;
}

p {
    margin: 0px 0px 15px 0px;
    padding: 0;
    font-family: sans-serif;
    font-weight: normal;
    font-size: 0.5em;
    color: #666;
    font-style: italic;
    letter-spacing: 1px;
    text-transform: uppercase;
}

h2 {
    margin: 10px 0px 0px 0px;
    padding: 0;
    font-family: serif;
    color: brown;
    font-weight: normal;
    font-size: 1.5em;
    font-style: italic;
    letter-spacing: 1px;
    line-height: 1.5em;
}

body {
    background-color: Ivory;
    margin-top: 115px;
}

label {
    font-family: sans-serif;
    letter-spacing: 1px;
    font-size: 1em;
    color: #666;
    display: inline-block;
}

select {
    display: inline-block;
    margin-right: 20px;
    color: #333;
}

select:focus {
    outline: none;
}

.btn {
    cursor: pointer;
    margin-top: 40px;
}

#pageHeader {
    position: fixed;
    z-index: -9999999;
    width: 100vw;
    height: 100vh;
    opacity: 0.3;
    text-align: left;
}


/*# sourceMappingURL=main.css.map */


/* The container */

.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 1em;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/* Hide the browser's default checkbox */

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}


/* Create a custom checkbox */

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}


/* On mouse-over, add a grey background color */

.container:hover input ~ .checkmark {
    background-color: #ccc;
}


/* When the checkbox is checked, add a blue background */

.container input:checked ~ .checkmark {
    background-color: #333;
}


/* Create the checkmark/indicator (hidden when not checked) */

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}


/* Show the checkmark when checked */

.container input:checked ~ .checkmark:after {
    display: block;
}


/* Style the checkmark/indicator */

.container .checkmark:after {
    left: 9px;
    top: 2px;
    width: 8px;
    height: 16px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
